@tailwind base;
@tailwind components;

@layer components {
    /* Customize scrollbar for WebKit browsers */

    .myscrollbar::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }

    .myscrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    .myscrollbar::-webkit-scrollbar-thumb {
      background: #888;
    }

    .myscrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .myscrollbar::-webkit-scrollbar-button:start {
        display: block;
        background: #ccc; /* Customize the button color */
        height: 5px; /* Customize the button height */
        width: 9px; /* Customize the button width */
      }
  
      .myscrollbar::-webkit-scrollbar-button:end {
        display: block;
        background: #ccc; /* Customize the button color */
        height: 40px; /* Customize the button height */
        width: 9px; /* Customize the button width */
      }
  }


@layer components{
    .mygrid{
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

@tailwind utilities;

